@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #faedca;
  font-family: 'Amatic SC', cursive;
}

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

body {
  background-color: #faedca;
  font-family: 'Amatic SC', cursive;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow: hidden; */
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 85%;
  min-height: 95vh;
  margin: 0 auto;
}
/* no display  */
.nd {
  display: none;
}

/* header */
header {
  display: flex;

  align-items: center;
}

header a {
  display: flex;
  align-items: center;
  padding: 0.3rem;
  text-decoration: none;
  color: black;
}
header img {
  display: inline-block;
  width: 6rem;
  height: 4rem;
}
/* main will be grid */

main.contents {
  display: grid;
  /* padding: 1.2rem 0; */
  align-items: center;
  grid-template-columns: 1fr 2fr 1fr;
  min-height: 75vh;
}

/* durations(left side) */

.gt {
  color: #707070;
}

.gb {
  border: 1px solid #707070;
}

/* <----(1) Duration ----> */

.durations {
  /* border: 1px solid grey; */
}
.durations h2 {
  margin: 1rem 0;
  font-size: 2rem;
}

/* Duration */
.timer-options {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.timer-options button {
  font-family: 'Amatic SC';
  font-size: 1.5rem;
  background-color: #f88f4f;
  color: white;
  border: none;
  display: inline-block;
  padding: 1rem;
  margin: 1rem 0;
  cursor: pointer;
  outline: none;
}
.timer-options button:hover {
  transform: scale(1.1);
}
.durations h2 {
  font-size: 3rem;
}
.duration-form label {
  font-size: 1.5rem;
}
/* Durations form */
input {
  display: block;
  margin: 0.15rem 0;
}
/* save-duration button */
.save-duration {
  margin-top: 10px;
  font-family: 'Amatic SC', cursive;
  border: 1px solid #707070;
  width: 35%;
  display: inline-block;
  padding: 5px;
  color: black;
  font-size: 1.5rem;
}

/* <---- (2) Display Time & Tomato Time ---->*/

/* img smaller */

.timer-desc {
  font-size: 4.5rem;
  margin: 0;
}
.timer img {
  width: 15rem;
  height: 12rem;
}

/* timer  */
.timer {
  text-align: center;
}

.display-time {
  margin: 0;
  font-size: 5rem;
  font-weight: 400;
}

/* buttons */
.buttons {
  display: flex;
  justify-content: space-between;
  width: 40%;
  margin: 0 auto;
  padding: 10px;
}

.button {
  font-family: 'Amatic SC', cursive;
  border: 1px solid #707070;
  width: 35%;
  display: inline-block;
  padding: 5px;
  color: white;
  font-size: 1.5rem;
}
.button:hover {
  transform: scale(1.1);
}
.stop-button {
  background-color: #f2c078;
}
.start-button {
  background-color: #7ebc89;
}

/* <----(3) Today Timer ----> */
.today-timer {
  text-align: center;
  background-color: #f6d7a1;
  border: 1rem solid #f2c078;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85%;
}
/* heading of today timer */
.today-timer h2 {
  font-size: 3rem;
  margin: 0;
  font-weight: bold;
}
.today-timer h3 {
  font-size: 1.3rem;
  margin: 0;
}

/* the very big number */
.total-timer {
  font-size: 10rem;
}

footer {
  text-align: center;
  background-color: #f4cc8d;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 5vh;
}

footer p {
  color: black;
  font-size: 1rem;
  display: block;
  margin: 0;
}

/* small buttons */
.small-timer-options {
  display: none;
  flex-direction: row;
  justify-content: space-around;
}

.small-timer-options button {
  font-family: 'Amatic SC';
  font-size: 1.5rem;
  background-color: #f88f4f;
  color: white;
  border: none;
  display: inline-block;
  padding: 1rem;
  width: 25%;
  margin: 1rem 0;
  cursor: pointer;
  outline: none;
}
.small-timer-options button:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 900px) {
  main.contents {
    display: grid;
    /* padding: 1.2rem 0; */
    align-items: center;
    /* grid-template-columns: 1fr 12fr 1fr; */
    min-height: 70vh;
  }
  .container {
    min-height: 90vh;
  }
  /* (1) */
  .durations {
    /* display: none; */
    grid-column: 1/12;
    grid-row: 3/4;
    justify-content: center;
    margin-bottom: 0.4rem;
  }
  .durations h2 {
    text-align: center;
  }
  .duration-form {
    display: flex;
    flex-direction: column;
  }
  .duration-form .save-duration {
    align-self: center;
    width: 100%;
  }

  .duration-form input {
    width: 100%;
  }

  .timer-options {
    display: none;
  }
  /* (2) */
  .timer {
    grid-column: 1/12;
    grid-row: 1/2;
  }
  /* (3) */
  .today-timer {
    display: none;
  }
  /* small buttons */
  .small-timer-options {
    display: flex;
    grid-column: 1/12;
    grid-row: 2/3;
  }
}
@media screen and (max-width: 400px) {
  .small-timer-options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .small-timer-options button {
    font-family: 'Amatic SC';
    font-size: 1.5rem;
    background-color: #f88f4f;
    color: white;
    border: none;
    display: inline-block;
    padding: 1rem;
    width: 100%;
    margin: 1rem 0;
    cursor: pointer;
    outline: none;
  }
  .small-timer-options button:hover {
    transform: scale(1.1);
  }
}
